*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: rgb(240, 240, 245);
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
  display: flex;
  justify-content: center;
}

.spielfeld {
  min-width: 200px;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1em .2em;
}

.ziffer__container {
  position: relative;
  cursor: pointer;
}

.disabledFeld {
  cursor: not-allowed;
  color: lightgray;
}

.ziffer {
  margin: .2em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
}

.kreuzchen {
  width: 35px;
  height: auto;
  position: absolute;
  top: 0;
  left: 5px;
  filter: invert(35%) sepia(92%) saturate(818%) hue-rotate(179deg) brightness(91%) contrast(99%);
  cursor: pointer;
  animation-name: showKreuzchen;
  animation-duration: 0.5s;
}

@keyframes showKreuzchen {
  from {opacity: 0;}
  to {opacity: 1;}
}

.loeschen {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 1em .2em;
  align-items: center;
  cursor: pointer;
  width: max-content;
}

.loeschen:hover,
.loeschen:focus {
  filter: brightness(0.9);
  color: lightgray;
}

.loeschen > img {
  width: 24px;
  height: auto;
}

.loeschen > h3 {
  margin-left: 0.3em;
}

.weiterButton {
  background: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 1em 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.weiterButton:hover,
.weiterButton:focus {
  background: lightblue;
  color: #FFFFFF;
}

.disabledButton {
  cursor: not-allowed;
  background-color: lightgrey;
} 

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.2em;
}

.outputAnzeige {
  text-align: right;
}


@media (min-width: 450px) {
  .spielfeld {
    width: 400px;
    height: 400px;
  }
  
  .ziffer {
    width: 50px;
    height: 50px;
  }
  
  .kreuzchen {
    width: 50px;
  }

  
}
