*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background-color: rgb(240, 240, 245);
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1em .2em;
}


/* SPIELFELD */
.spielfeld {
  min-width: 12.5rem;
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ziffer__container {
  position: relative;
  cursor: pointer;
}

.disabledFeld {
  cursor: not-allowed;
  color: lightgray;
}

.ziffer {
  margin: .2em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #FFFFFF;
}

.kreuzchen {
  width: 2rem;
  height: auto;
  position: absolute;
  top: 0;
  left: 0.3em;
  filter: invert(35%) sepia(92%) saturate(818%) hue-rotate(179deg) brightness(91%) contrast(99%);
  cursor: pointer;
  animation-name: showKreuzchen;
  animation-duration: 0.5s;
}

@keyframes showKreuzchen {
  from {opacity: 0;}
  to {opacity: 1;}
}


/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1em;
  position: relative;
}

.loeschenButton {
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 1em .2em;
  align-items: center;
  cursor: pointer;
  width: max-content;
  background-color: none;
  border: none;
}

.loeschenButton:hover {
  filter: brightness(0.9);
  color: lightgray;
}

.loeschenButton > img {
  width: 1.5rem;
  height: auto;
}

.loeschenButton > p {
  margin-left: 0.3em;
}

.weiterButton {
  background: #FFFFFF;
  border: none;
  border-radius: 0.5em;
  padding: 1em 1.2em;
  font-weight: bold;
  cursor: pointer;
}

.weiterButton:hover,
.weiterButton:focus {
  background: lightblue;
  color: #FFFFFF;
}

.disabledButton {
  cursor: not-allowed;
  background-color: lightgrey;
} 

#progressbar {
  width: 5rem;
  height: 1.5em;
  border: 2px solid #FFFFFF;
  border-radius: 0.5em;
  margin: 0 auto;
  position: relative;
  background-color: #FFFFFF;
}

#progressbar div {
  height: 100%;
  border: 2px solid #FFFFFF;
  background-color: lightskyblue;
  border-radius: 0.5em;
}

.progressLabel {
  position: absolute;
  top: 2px;
  left: 38%;
}

.outputAnzeige {
  position: absolute;
  top: 5em;
  left: 0;
  width: 100%;
}

#finalZahlenContainer {
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
}

#finalZahlenContainer li {
  animation: rotation 2s;
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(10deg);}
  100% {transform: rotate(0deg);}
}


@media (min-width: 450px) {
  .spielfeld {
    width: 25rem;
    height: 25rem;
  }
  
  .ziffer {
    width: 3rem;
    height: 3rem;
  }
  
  .kreuzchen {
    width: 3rem;
  }

  #progressbar {
    width: 6.25rem;
    height: 2.8em;
  }
  
  .progressLabel {
    top: 12px;
  }
}
